<mat-card>
    <mat-card-title>Login</mat-card-title>
    <form [formGroup]="modelForm" (ngSubmit)="onSubmit()">
        <p color="red" *ngIf="error"><font color="red">{{error}}</font></p>
    <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="isEmailInvalid()">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field><br>
    <mat-form-field>
        <input matInput formControlName="password" placeholder="password" [type]="hide ? 'password' : 'text'" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="isPasswordInvalid()">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field><br>
    <mat-card-actions>
        <button mat-raised-button type="submit" color="primary">Log in</button>
        <button mat-raised-button type="button" routerLink="/register">Register</button>
    </mat-card-actions>
    </form>
</mat-card>
<mat-spinner *ngIf="showSpinner" class="spiner"></mat-spinner>