
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: !(isHandset | async)!.matches}" fixedInViewport="false" [attr.role]="isHandset ? 'dialog' : 'navigation'"
      [mode]="(isHandset | async)!.matches ? 'over' : 'side'" [opened]="!(isHandset | async)!.matches">
      <mat-toolbar color="primary">Menu</mat-toolbar>
      <mat-nav-list>
        <button mat-button class="link-style" routerLink="tours">Trips</button>
        <button mat-button class="link-style" *ngIf="isUserAdmin" routerLink="add/tour">Add Tour</button>
        <button mat-button class="link-style" *ngIf="user != null" routerLink="cart">Cart</button>
        <button mat-button class="link-style" *ngIf="user != null" routerLink="history">History</button>
        <button mat-button class="link-style" *ngIf="user == null" routerLink="register">register</button>
        <button mat-button class="link-style" *ngIf="user == null" routerLink="login">login</button>
        <button mat-button class="link-style" *ngIf="user != null" (click)="logOut()">logOut</button>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset | async)!.matches">
          <mat-icon aria-label="Side nav toggle icon">menu
          </mat-icon>
        </button>
        <span>Silesian Tour</span>
        <button mat-button class="link-style" routerLink="tours">Trips</button>
        <span class="spacer"></span>
        <button mat-button class="link-style" *ngIf="user == null" routerLink="register">register</button>
        <button mat-button class="link-style" *ngIf="user == null" routerLink="login">login</button>
        <button mat-icon-button *ngIf="user != null" [matMenuTriggerFor]="menu" aria-label="Panel uzytkownika">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="cart">Cart</button>
          <button mat-menu-item routerLink="history">History</button>
          <button mat-menu-item class="link-style" *ngIf="isUserAdmin" routerLink="add/tour">Add Tour</button>
          <button mat-menu-item (click)="logOut()">log out</button>
        </mat-menu>
      </mat-toolbar>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>